MONGODB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=Cluster0
MONGODB_DB=quantum_health_ai
SECRET_KEY=your-secret-key-here
FILE_ENCRYPTION_KEY=
GEMINI_API_KEY=your-gemini-api-key
OPENAI_API_KEY=
